<div class="center-container" *ngIf="product">
    <div class="product-card">
        <div class="product-image">
            <img [src]="product.processedImg" alt="{{ product.name }} image" />
        </div>
        <div class="product-details">
            <h2>{{ product.name }}</h2>
            <p class="description">{{ product.description }}</p>
            <p class="price">Price: {{ product.price }}</p>
            <p class="category">Category: {{ product.categoryName }}
                <mat-icon class="heart-icon" (click)="addToWishlist()"
                    style="cursor: pointer; margin-top: 10px;">favorite_border</mat-icon>
            </p>
        </div>
    </div>
</div>

<h1 class="section-heading" ngif="reviews.length > 0">Customer Reviews</h1>
<div *ngIf="reviews" class="review-list">
    <div class="center-container">
        <div *ngFor="let review of reviews" class="review-card">
            <div class="review-image">
                <img [src]="review.processedImg" *ngIf="review.processedImg" alt="{{ review.description }} image"
                    class="small-image" />
            </div>
            <div class="review-details">
                <h2>{{ review.description }}</h2>
                <div class="details-row">
                    <p class="rating">Rating: {{ review.rating }}</p>
                    <p class="username">Username: {{ review.username }}</p>
                </div>
            </div>
        </div>
    </div>
</div>